<html>
<body>
    <a asp-controller="Notification" asp-action="Index">Passport Notification</a>
    <a asp-controller="notification" asp-action="eida">Eida Notification</a>
    <a asp-controller="notification" asp-action="medical">Medical Notification</a>
    <a asp-controller="notification" asp-action="salary">Salary Notification</a>

    <a asp-controller="mainhome" asp-action="newindex">Index</a>
</body>
</html>